# dependencies
node_modules/

# logs
logs
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage testing
coverage/

# environment variables
.env

# system/editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
